@import url("https://fonts.googleapis.com/css?family=Vollkorn|VT323");
$font-stack: "Vollkorn", Georgia, Times New Roman, Times, serif;

$color-1:   #000;
$color-2:   #aaa;
$color-2-5: #ccc;
$color-3:   #880000;
$color-bg:  #fff;

$dark-color-1:   #ccc;
$dark-color-2:   #666;
$dark-color-2-5: #444;
$dark-color-3:   #cc6600;
$dark-color-bg:  #222;