@import "_html.scss";
@import "_themes.scss";

@import url("https://fonts.googleapis.com/css?family=Vollkorn|VT323");
$font-stack: "Vollkorn", Georgia, Times New Roman, Times, serif;

$media-sm: 480px;
$media-md: 768px;
$spacing: 1.5rem;

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-stack;
  background: $color-bg;
  color: $color-1;

  font-size: 14px;
  line-height: 1.5;

  overflow-x: hidden;
}

a, a:visited {
  text-decoration: underline;
  color: $color-1;
  svg {
    fill: $color-1;
  }
}

a:active, a:hover {
  text-decoration: underline;
  color: $color-3;
  svg {
    fill: $color-3;
  }
}

h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: $color-2;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
}
h1 {
  color: $color-1;
}
h1:first-of-type {
  margin-bottom: 0;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
}

p {
  text-align: justify;
}

li {
  margin-bottom: 0;
  & > p, & > ul, & > ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}

blockquote {
  border-left: 1px solid $color-25;
  color: $color-2;
}

.secondary {
  color: $color-2;
}
.tertiary {
  color: $color-3;
}

.theme-palette {
  display: flex;
  float: right;
  margin-top: .3rem;
  &>div {
    width: 1rem;
    height: 1rem;
    margin-left: .5rem;
    display: inline-block;
    cursor: pointer;
    background-color: $color-bg;
    border: 1px solid $color-bg;
    &.selected {
      border-color: $color-1;
    }
  }
}

#canvas-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
#canvas {
  width: 100%;
  height: 100%;
}

.layout {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 $spacing;
  display: grid;
}

.navbar {
  border-bottom: 1px solid $color-25;
  margin-bottom: 5rem;
  padding: $spacing 0;
  font-size: 1.25rem;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline;
      margin-right: 1rem;
      a {
        text-decoration: none;
      }
      span {
        color: $color-2;
      }
    }
  }
  .menu-container {
    @media (max-width: $media-sm) {
      li {
        display: block;
        margin-top: 0.5rem;
      }
      display: none;
      &.expanded {
        display: block;
      }
    }
  }
  .menu-toggle {
    cursor: pointer;
    height: 2rem;
    // both added equal to 2rem(height) - 1rem(inherit) = 1rem
    // nudged more top margin 0.1rem
    margin-top: -0.4rem;
    margin-bottom: -0.6rem;
    &:hover, &:active {
      fill: $color-3;
    }
    @media (min-width: $media-sm) {
      display: none;
    }
  }
}

.footer {
  margin-top: calc(5rem - #{$spacing});
  color: $color-2;
  border-top: 1px solid $color-25;
  p {
    padding: $spacing 0;
    margin: 0;
  }
}

.section {
  padding-top: 5rem;
  padding-bottom: calc(5rem - #{$spacing});
  border-bottom: 1px solid $color-25;
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    border: none;
    padding-bottom: 0;
  }
}

.contact {
  list-style-type: none;
  margin-left: 0;
  a svg {
    width: 16px;
    height: 16px;
    margin-top: 3px;
    margin-bottom: -3px;
    margin-right: 3px;
  }
}

.postnav {
  list-style: none;
  padding: 0;
  margin-left: 0;
}

.work-list {
  .category {
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      color: $color-3;
    }
    &.selected {
      cursor: auto;
      text-decoration: none;
      color: $color-2;
    }
  }
}

.works {
  display: grid;
  column-gap: $spacing;
  row-gap: $spacing;
  margin-bottom: $spacing;

  @media (min-width: $media-sm) {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: $media-md) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &.narrow {
    @media (min-width: $media-md) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .item {
    .image-wrap {
      padding: 5px;
      border: 1px solid $color-25;
      margin-bottom: 0.5rem;

      &:hover {
        border-color: $color-3;
        .image {
          opacity: 1.0;
        }
      }
    }
    .image {
      width: 100%;
      background-repeat: no-repeat;
      background-position-y: center;
      background-size: 100%;
      opacity: 0.7;

      // https://spin.atomicobject.com/2015/07/14/css-responsive-square/
      &::after {
        content: "";
        display: block;
        padding-bottom: 50%;
      }
    }
  }
}

.work {
  display: grid;
  column-gap: 2rem;
  a.image {
    display: block;
    margin-bottom: 1rem;
    img {
      display: block;
      width: 100%;
    }
  }
  .detail {
    display: none;
  }
  @media (min-width: $media-sm) {
    grid-template-columns: 2fr 1fr;
    & > .detail {
      display: block;
    }
  }
  @media (max-width: $media-sm) {
    & > div > .detail {
      display: block;
    }
  }
}

.layout23 {
  display: grid;
  column-gap: 1rem;

  & > div:nth-child(2), & > div:nth-child(2) p {
    text-align: right;
  }

  @media (min-width: $media-sm) {
    grid-template-columns: 2fr 1fr;
  }
}

.iframewrap {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56%;
  margin-bottom: 1rem;
}
iframe {
  border: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.posts {
  margin-top: 1rem;
}