$duration: 500ms;

.transition {
  &.forward-appear {
    margin-left: 50vw;
    margin-right: -50vw;
    opacity: 0;
  }
  &.forward-appear-active {
    margin-left: 0;
    margin-right: 0;
    opacity: 1;
    transition: all $duration ease-out;
  }
  &.forward-exit {
    margin-left: -50vw;
    margin-right: 50vw;
    opacity: 0;
    transition: all $duration ease-in;
  }

  &.backward-appear {
    margin-left: -50vw;
    margin-right: 50vw;
    opacity: 0;
  }
  &.backward-appear-active {
    margin-left: 0;
    margin-right: 0;
    opacity: 1;
    transition: all $duration ease-out;
  }
  &.backward-exit {
    margin-left: 50vw;
    margin-right: -50vw;
    opacity: 0;
    transition: all $duration ease-in;
  }
}
