$duration: 500ms;

.transition {
  &.forward-appear {
    margin-left: 50vw;
    margin-right: -50vw;
    opacity: 0;
  }
  &.forward-enter-done {
    transition: all $duration ease-out;
  }
  &.forward-exit {
    transition: all $duration ease-in;

    margin-left: -50vw;
    margin-right: 50vw;
    opacity: 0;
  }

  &.backward-appear {
    margin-left: -50vw;
    margin-right: 50vw;
    opacity: 0;
  }
  &.backward-enter-done {
    transition: all $duration ease-out;
  }
  &.backward-exit {
    transition: all $duration ease-in;

    margin-left: 50vw;
    margin-right: -50vw;
    opacity: 0;
  }
}
